<h2> Jumble/Scramble Word game </h2>
<pre>
You have to guess maximum words correctly in 60 sec
</pre>

<h3> Before that let's get only 3,4 and 5 letter words out of the list and put it in a different list </h3>

In [1]:
txt = open('words.txt')
word_list = txt.read().split('\n')

In [2]:
word_list[1:5]

['about', 'account', 'acid', 'across']

In [3]:
len(word_list)

854

<pre>
Append again 
</pre>

In [4]:
a = [1]
a

[1]

In [5]:
a.append(2)
a

[1, 2]

In [6]:
a.append(3)

In [7]:
a

[1, 2, 3]

<pre> shorter_word_list contain only 3,4 and 5 letter words </pre>

In [8]:
shorter_word_list = []
for word in word_list:
    if len(word) >= 3 and len(word) <=5 :
        shorter_word_list.append(word)

In [9]:
len(shorter_word_list)

523

<h3> Jumble word - Now lets program the game   </h3>

In [14]:
import random
import time
answer = 0
score = 0

print "-------------This is a word scramble game you have 60 seconds guess the right answer-------------------"
print "-------------------------------------------------------------------------------------------------------"
time.sleep(3)       #it will start after 3 seconds

start_time = time.time()
random.shuffle(shorter_word_list)
word = shorter_word_list[0]
while time.time() <= start_time + 60:
    
    #now lets scramble the word first
    #----------------------------------
    scrambled_word = list(word)
    random.shuffle(scrambled_word)
    scrambled_word = ''.join(scrambled_word)
    #------------------------------------
    print 'scrambled word ',scrambled_word
    
    response = raw_input('enter the answer-------> ')
    if response == word:
        print "Correct"
        score = score + 1
    else:
        print "Try again"
        continue
    random.shuffle(shorter_word_list)
    word = shorter_word_list[0]

print "Your score is: ",score

-------------This is a word scramble game you have 60 seconds guess the right answer-------------------
------------------------------------------------------------------------------
top
enter the answer-------> top
Try again
opt
enter the answer-------> pot
Correct
vone
enter the answer-------> oven
Correct
bnwor
enter the answer-------> brown
Correct
moec
enter the answer-------> moce
Try again
omce
enter the answer-------> come
Correct
ignr
enter the answer-------> ring
Correct
Your score is:  5

<h3> Getting a small list from a big one </h3>

In [15]:
num_list = [2,3,8,9,56,89,77,33,44]

In [16]:
small_num_list = []
i =0
while i < len(num_list):
    small_num_list.append(num_list[i])
    i = i + 2
small_num_list

[2, 8, 56, 77, 44]

In [17]:
num_list

[2, 3, 8, 9, 56, 89, 77, 33, 44]

In [18]:
index_list = [1,2,4,5]

<pre>
output  - small_index_list = [3,8,56,89]
</pre>

In [19]:
#by Ishaan 
small_index_list = []

for i in index_list:
    small_index_list.append(num_list[i])

In [20]:
print small_index_list

[3, 8, 56, 89]

In [21]:
num_list

[2, 3, 8, 9, 56, 89, 77, 33, 44]

In [22]:
index_list

[1, 2, 4, 5]

In [24]:
small_index_list_revived = [num_list[i] for i in index_list]

In [25]:
len(word_list)

854

<h2> Something Special - List Comprehension </h2>

<h3> This was previous code </h3>
<pre>
shorter_word_list = []
for word in word_list:
    if len(word) >= 3 and len(word) <=5 :
        shorter_word_list.append(word)
</pre>

In [26]:
shorter_word_list_revived = [word for word in word_list if len(word) >=3 and len(word) <=5 ] #on a single line

In [27]:
len(shorter_word_list)

523

In [28]:
len(shorter_word_list_revived)

523

<h3> Get the Alternate number from the list </h3>

In [29]:
num_list = [2,7,8,9,65,56,23,11]

In [30]:
range(1,len(num_list),2)  # a little aside

[1, 3, 5, 7]

In [31]:
#by Eshaan 
small_num_list = []
for i in range(1,len(num_list),2):
    small_num_list.append(num_list[i])
print small_num_list

[7, 9, 56, 11]

<h3> The list comprehension way -the Python way </h3>

In [32]:
small_num_list_revived = [num_list[i] for i in range(1,len(num_list),2)]

In [33]:
small_num_list_revived

[7, 9, 56, 11]

<h3>Print this list</h3> 
<pre>
[1,4,9,16,25,36,49,64,81,100,121,144,169,196..............n numbers]
</pre>

<h3> The For way </h3>

In [34]:
#by Patrick
n = input('enter a limit------------>')
num_list = []

for i in range(1,n+1):
    num_list.append(i*i)
print num_list

enter a limit------------>16
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256]

<h3> The While way </h3>

In [35]:
#by Dylan
square_list = []
limit = input('Enter a limit ------->' )
loops = 0
while loops < limit:
    loops = loops + 1
    square_list.append(loops**2)
    
print square_list

Enter a limit ------->16
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256]

<h3> The Pythonic way </h3>

In [36]:
#by Becca
limit = input('Enter a limit ------->' )
square_list = [i*i for i in range(1,limit + 1)]
print square_list

Enter a limit ------->16
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256]

<h2> TUPLES </h2>

In [37]:
num_tuple = (1,3)

In [38]:
num_tuple[1]

3

In [39]:
num_tuple[0]

1

In [40]:
num_tuple[3]

IndexError: tuple index out of range

<h3>Now what is special with Tuples </h3>

In [41]:
num_tuple[1] = 5 #we cannot change the value inside a tuple

TypeError: 'tuple' object does not support item assignment

In [42]:
num_tuple.append(4) #cannot change/add the value

AttributeError: 'tuple' object has no attribute 'append'

<h3> A list of Tuples </h3>

In [43]:
record =[('Amanda',8,'Math','NC'),('Ethan',8,'Math','TX'),('Dalton',9,'CS','KY'),('Eshaan',8,'PE','MO')]

In [44]:
record

[('Amanda', 8, 'Math', 'NC'),
 ('Ethan', 8, 'Math', 'TX'),
 ('Dalton', 9, 'CS', 'KY'),
 ('Eshaan', 8, 'PE', 'MO')]

In [45]:
record[0]

('Amanda', 8, 'Math', 'NC')

In [46]:
record[0][1]   #get the 2nd element of the 1st record

8

In [47]:
record[0][1] = 9  #assignement not possible

TypeError: 'tuple' object does not support item assignment

<h3> A little Aside deleting values</h3>

In [48]:
a =[1,2,3,4]

In [49]:
a

[1, 2, 3, 4]

In [50]:
del a[0]   #delete the first element of a

In [52]:
a

[2, 3, 4]

In [53]:
a[0]

2

In [54]:
a

[2, 3, 4]

In [55]:
del a    #delete the whole variable - use if there is a crunch of memory

In [56]:
a

NameError: name 'a' is not defined

In [57]:
record

[('Amanda', 8, 'Math', 'NC'),
 ('Ethan', 8, 'Math', 'TX'),
 ('Dalton', 9, 'CS', 'KY'),
 ('Eshaan', 8, 'PE', 'MO')]

<h3> I want to change Amanda's favourite subject to CS </h3>

In [58]:
record[0][2] ='CS'   #is this possible

TypeError: 'tuple' object does not support item assignment

In [59]:
del record[0]    #delete the whole record

In [60]:
record

[('Ethan', 8, 'Math', 'TX'),
 ('Dalton', 9, 'CS', 'KY'),
 ('Eshaan', 8, 'PE', 'MO')]

In [61]:
record.append([('Amanda',8,'CS','NC')])   #Add a completely new one

In [62]:
record

[('Ethan', 8, 'Math', 'TX'),
 ('Dalton', 9, 'CS', 'KY'),
 ('Eshaan', 8, 'PE', 'MO'),
 [('Amanda', 8, 'CS', 'NC')]]

<h2>Registration for Duke Tip </h2>
<pre>
Name
Grade 
Parents Phone number
Address
Are you a national
</pre>

<pre>
-------------------------------------Duke Tip Registration----------------------

name - Dylan
Grade- 8
Ph   - 8097842237
Add  - Dallas,TX
Citizen - Y

Do you want to enter more record - Y
name - Joseph
Grade - 8
Ph - 894379878934
Add - Sarasota,Fl
Citizen - Y
Do you want to enter more record - N
</pre>
Print records

In [63]:
#by Joseph
cont = "Yes"           #continue variable that see if  we should continue or not
record =[]
while cont == "Yes":
    name = raw_input('Enter your name: ')
    grade = raw_input('Enter your grade: ')
    ph = raw_input('Enter your phone number: ')
    add = raw_input('Enter your address: ')   
    citizen = raw_input('Are you a citizen: ')
    info = (name, grade, ph, add, citizen)
    record.append(info)
    cont = raw_input('Would you like to continue? ').title()#it works even if i put yEs or yes or any version
    if cont == "Yes":
        print "Okay let's put another record "
    else:
        print "Thanks for the records we have saved it !!!!!!!!"
        cont = "No"
        print record

Enter your name: Ethan
Enter your grade: 8
Enter your phone number: 8329832392238
Enter your address: Pokemon gym TX
Are you a citizen: Y
Would you like to continue? yEs
Okay let's put another record
Enter your name: Grant
Enter your grade: 8
Enter your phone number: 932932832932
Enter your address: Battle Tower
Are you a citizen: y
Would you like to continue? n
Thanks for the records we have saved it !!!!!!!!
[('Ethan', '8', '8329832392238', 'Pokemon gym TX', 'Y'), ('Grant', '8', '932932832932', 'Battle Tower', 'y')]

In [64]:
record

[('Ethan', '8', '8329832392238', 'Pokemon gym TX', 'Y'),
 ('Grant', '8', '932932832932', 'Battle Tower', 'y')]